[2015-02-16 07:34] conradkleinespel opened #1 "Windows support"
At the moment, `rpassword` only builds on UNIX. We need Windows support, as seen in https://github.com/rust-lang/cargo/issues/1306.

Making `termios` work on Windows seems weird to me because I think the name `termios` refers to a POSIX API. Or maybe that would require a name change, to adhere to the "Rust-way" of not giving cross-platform libraries platform-specific names.

If there's a simple wa

[2015-02-16 08:25] bombless commented on #1
How about switching to another dependency?
Here's the situation so far:
- [ncurses](https://github.com/drhodes/rust-ncurses) [libraries](https://github.com/jeaye/ncurses-rs) don't support Windows. (And it sounds like it shouldn't for its name, but [ncurses-rs](https://github.com/jeaye/ncurses-rs) actually seems close to work on Windows.
- The owner of [rustbox](https://github.com/gchp/rustbox) is

[2015-02-16 20:28] conradkleinespel commented on #1
@bombless I don't mind switching to another dependency. If Rustbox supports Windows and we can read passwords without showing them to the screen, that'd be fine by me.

I don't understand what you mean about "termios to build for unsupported platforms". How would that fix the problem ? I'm genuinely curious.

[2015-02-16 21:11] bombless commented on #1
@conradkleinespel If the project contain dependency that fails to build, then `cargo build` will always fail, so we should opt-out termios for Windows. Cargo.toml only allow opt-in dependencies, so we cannot do that. If dependencies build without problem (and crate termios will export nothing on Windows), we can handle everything at source code level.

I'd admit that there's another solution that

[2015-02-16 22:42] conradkleinespel commented on #1
@bombless Ah, OK. I understand now. This is probably a good thing indeed.

[2015-03-04 21:58] #1 closed

[2015-04-19 21:45] marcusklaas opened #4 "Crate outdated"
The crate on crates.io is stuck on version `0.0.2`, which doesn't compile any more. The readme is also outdated.

[2015-04-19 21:46] conradkleinespel commented on #4
Good evening.

[2015-04-19 21:51] #4 closed

[2015-04-19 21:55] marcusklaas commented on #4
Sorry if I was a bit too straight forward. Thanks for updating the crate :+1:

[2015-05-02 02:20] retep998 opened #5 "Re-add windows support"
Reminder to myself to do this.

[2015-05-04 12:24] conradkleinespel commented on #5
Hi @retep998,

Awesome to see you're still interested in this ! :+1:

I don't use Windows and have no Windows license so it's hard for me to support this platform. And I kinda had to drop Windows support since it was broken with `rustc` updates in the last few weeks. However, I will gladly merge a patch if you have and take the time to create it.

Take care,
Conrad

[2015-06-24 22:17] equalsraf commented on #5
Cheers, is anyone looking into this? I have a quick fix using the original source from #2, in [here](https://github.com/equalsraf/rustastic-password/tree/tb-windows). Seems to work ok with Rust 1.0 here.

[2015-06-25 11:45] conradkleinespel commented on #5
Hi @equalsraf,

Thanks a lot for your work ! :+1:

If you have a patch and make a working pull request, I'm glad to merge.

On that note, I'm a Mac/Linux user and don't have Windows. Would you be interested in getting commit access to maintain the Windows version ? Same question to you, @retep998, in case you're interested :-)

Cheers,
Conrad

[2015-06-25 16:03] equalsraf commented on #5
Honestly this is my first bit of public rust ever :grinning: and I don't spend that long in front of Windows, but I can give it a shot.

[2015-06-25 17:02] equalsraf commented on #5
Incidentally if you want, it seems easy enough to enable [CI builds](https://ci.appveyor.com/project/equalsraf/rustastic-password/build/1.0.6) for windows (well there are no tests for windows yet, but at least it builds the example).

[2015-07-18 18:05] conradkleinespel commented on #5
Thanks a lot for your contribution @equalsraf !

This issue is resolved per: https://github.com/conradkleinespel/rustastic-password/commit/1b77c90aff38837b6e9b1b8b41e066cb2c6e5a81

[2015-07-18 18:05] #5 closed

[2015-07-18 18:10] conradkleinespel commented on #5
I've updated the version and pushed it to crates.io.

[2015-11-04 19:05] JanLikar opened #7 "The example in README does not work"
On my computer (Latest Ubuntu) "Type a password: " gets printed into the terminal only after entering the password. This happens because print! macro doesn't flush output buffers. There are two solutions: example could be fixed to manually flush the buffer or read_password() could be modified to implicitly flush it.

I am willing to create a pull request, if you want me to.

[2015-11-04 19:24] conradkleinespel commented on #7
Hi @JanLikar,

Thanks a lot for bringing this up ! :+1:

I will correct the example. Are you OK with me adding you as a contributor ?

Best regards,
Conrad

[2015-11-04 19:29] JanLikar commented on #7
You're welcome. And yes, you can add me.

[2015-11-04 20:11] conradkleinespel commented on #7
Awesome, thanks !

[2015-11-04 20:11] #7 closed

[2016-01-13 04:42] psych0d0g opened #8 "please add mipsel dependencies to toml"
[target.mipsel-unknown-linux-gnu.dependencies]
libc = "0.1"
termios = "0.2"
[target.mips-unknown-linux-gnu.dependencies]
libc = "0.1"
termios = "0.2"

[2016-01-14 00:11] conradkleinespel commented on #8
Hello @psych0d0g,

Thanks for taking the time to write this.

Out of curiosity, what is mipsel ?

Best regards

[2016-01-14 00:30] #8 closed

[2016-01-14 12:54] psych0d0g commented on #8
mipsel is mostly used for embedded multimedia platforms (enigma2 linux recivers, my LG tv is using it and similar devices)
long endian variant of mips

[2016-01-14 12:56] conradkleinespel commented on #8
@psych0d0g: Ah alright, cool ! Thanks for the explanation :smiley:

[2016-03-14 16:39] jonas-schievink opened #11 "Oh no!"
When aborting password entry with Ctrl+D (on Linux, but I'd imagine it's the same on OS X), `read_password` returns an error that reads "oh no!". It should probably return a more descriptive error.

[2016-03-14 17:21] conradkleinespel commented on #11
@jonas-schievink Hello ! Thanks for the suggestion. You are 100% right. What would be a good, descriptive, error message for Ctrl+D ? This basically happens anytime there is not enough input, so maybe [UnexpectedEof](https://doc.rust-lang.org/std/io/enum.ErrorKind.html#variant.UnexpectedEof) would be OK ?

[2016-03-14 17:22] jonas-schievink commented on #11
Yes, that sounds good!

[2016-03-14 17:56] conradkleinespel commented on #11
@jonas-schievink Awesome ! Just pushed a [commit](https://github.com/conradkleinespel/rustastic-password/commit/d2b971086cfe014676e9f0ffffa78747131219c2) that fixes that. I've bumped the minor version number as this is a breaking change.

[2016-03-14 17:56] #11 closed

[2016-04-07 22:30] octotep opened #12 "Add a feature to display a prompt, then read a password"
I find myself writing code like this a lot:
[code]

It would be much nicer to instead write something like this instead:
[code]

Is this a feature that rustastic-password is interested in adding? I find it very convenient and have it defined as a function in my code, but I think it would make a great addition to the library.

[2016-04-07 22:50] conradkleinespel commented on #12
@octotep Sounds good ! I tend to do this as well. In fact, even the example for `rpassword` does this.

I'm glad to review / merge a pull request if you have the time to do one. If you do, please include a unit test for the added function as well, at least for the platform you are using `rpassword` on :smiley:

[2016-04-17 20:38] octotep commented on #12
I was really hoping to take a crack at it last weekend, and then this weekend, but unfortunately I haven't had the time, and probably won't for the foreseeable future. Should anyone else have some time to work on it, feel free to do so.

[2016-05-03 17:52] MeanderingCode opened #14 "could not parse input as TOML"
Cargo 0.8.0 is failing to build rpassword as a dependency.

[code]

[2016-05-03 17:59] MeanderingCode commented on #14
https://github.com/conradkleinespel/rustastic-password/blob/master/Cargo.toml#L13
`[target.'cfg(not(windows))'.dependencies`

I could not find another Cargo.toml in the dependencies of the project that has such a line, beggining with `[target`.

[2016-05-03 18:25] MeanderingCode commented on #14
This is due to using Cargo 0.8.0, which does not support the particular `[target.'` syntax.

Works in Cargo 0.9.0.  Closing.

[2016-05-03 18:25] #14 closed

[2016-05-03 23:11] conradkleinespel commented on #14
@MeanderingCode Yes, exactly, this is meant to work with Cargo 0.9. Sorry for any confusion.

[2016-06-19 21:25] jethrogb opened #15 "License"
Which license is this crate? [Cargo.toml says Apache](https://github.com/conradkleinespel/rustastic-password/blob/master/Cargo.toml#L7) but [README.md says MIT](https://github.com/conradkleinespel/rustastic-password/blame/master/README.md#L11). Or is it both such as most Cargo crates?

[2016-06-21 10:56] conradkleinespel commented on #15
@jethrogb You bring up a good point. I don't think I am allowed to re-license code without contributors' agreement so I will ask every contributor here.

To the following people, do you agree to license your contributions under the terms of the [Apache 2.0 license](http://www.apache.org/licenses/LICENSE-2.0) ?

@dcuddeback
@equalsraf
@petevine
@psych0d0g
@retep998

[2016-06-21 12:05] petevine commented on #15
No objection here.

[2016-06-21 12:29] retep998 commented on #15
Either or both license is fine by me.

[2016-06-21 12:39] equalsraf commented on #15
Either case is fine by me

[2016-06-21 14:41] dcuddeback commented on #15
Either is okay with me.

[2016-06-23 13:40] conradkleinespel commented on #15
Thanks a lot for your quick replies @petevine @retep998 @equalsraf and @dcuddeback ! @psych0d0g, what do you think ?

[2016-06-29 22:04] conradkleinespel commented on #15
Terribly sorry to bother you with this @psych0d0g but I think I'm legally required to ask for your consent here. Would you be OK with relicensing your contribution as Apache 2.0 ?

[2016-06-30 04:18] retep998 commented on #15
@conradkleinespel Try emailing @psych0d0g with the email address attached to one of their commits.

[2016-06-30 06:36] jethrogb commented on #15
His commits are merely [some changes to Cargo.toml](https://github.com/conradkleinespel/rustastic-password/commits/master?author=psych0d0g) that from the looks of it might not be copyrightable.

[2016-06-30 07:32] retep998 commented on #15
Especially since all of those lines have since been rewritten anyway, so even if it was copyrightable it no longer applies to the current version.

[2016-07-17 21:01] conradkleinespel commented on #15
Sorry for taking so long. @jethrogb and @retep998, you are 100% right. I've clarified licensing so it now clearly says Apache 2.0 everywhere. Thanks all !

[2016-07-17 21:01] #15 closed

[2016-09-03 03:54] conradkleinespel commented on #12
Hi @octotep !

This took a long time but its finally here. I've added two methods that should fit the use case you were talking about (check [example.rs](https://github.com/conradkleinespel/rustastic-password/blob/master/examples/example.rs) for more details).

The link to the docs are broken but hopefully the function names are sufficiently clear.

I have found it to be very useful to print on `s

[2016-09-03 03:54] #12 closed

[2017-05-11 17:34] conradkdotcom opened #18 "differentiate read_password and read_response in docs"
Currently, the Rust docs do not differentiate the `*_password` and `*_response` functions, as can be seen here: https://docs.rs/rpassword/0.4.0/rpassword/. Their description is the same: "Reads a password from STDIN.". Same goes for the `*_prompt_*` functions.

Tasks:
- [x] improve docs to make it clear that `*response*` does not hide the typed password from the terminal
- [x] improve docs to make

[2017-07-28 22:45] conradkdotcom commented on #8
Hello @psych0d0g !

Had you ever tried actually using this on mipsel ?

The reason I'm asking is that I'm in the process of refactoring this library and I just realised that we had the wrong value of `TCSANOW` in the `termios` crate all this time.

`termios-rs` uses the [Linux default of `0`](https://github.com/dcuddeback/termios-rs/blob/master/src/os/linux.rs#L178) instead of the [actual mips val

[2017-07-28 23:50] #18 closed

[2017-10-16 12:53] DaveLancaster opened #19 "Using read_password in tests."
Thanks for the useful crate. How would you feel about adding something like an `Option<Cursor>` as a parameter for `read_password()` so that the input could be easily mocked in tests etc? Happy to submit a PR if something like this would be appropriate (currently building a lib which I would like to use `rpassword`, so this would be handy for me).

[2017-10-16 18:33] conradkdotcom commented on #19
Hi @DaveLancaster ! Thanks for the idea ! I won't be adding a parameter to `read_password()` because this function because I don't want to break BC and the function is meant to be a no-brainer, which it won't be if it has parameters.

I think that mocking STDIN should be adressed in the standard library itself if possible, because that would make mocking easier for the entire Rust community. What

[2017-10-16 18:37] DaveLancaster commented on #19
Hey Conrad, thanks for the reply. My thought was to rename `read_password` to something like `read_password_with_reader` with the `Option<Cursor>` or whatever, and then just create a `read_password` stub that called it with `None` to preserve backwards compatibility & simplicity.

[2017-10-16 18:54] conradkdotcom commented on #19
@DaveLancaster Sounds good! Why not `Option<T: Read>` though ? `Cursor` implements `Read` and using `Read` instead of hardcoding `Cursor` makes thing a bit more flexible.

[2017-10-16 18:55] conradkdotcom commented on #19
@DaveLancaster If you want `Cursor`, that's fine, but call the function `read_password_with_cursor` 😉

[2017-10-16 18:57] conradkdotcom commented on #19
@DaveLancaster Quick question: how would you go about testing `read_password_with_reader(None)`?

[2017-10-16 20:50] DaveLancaster commented on #19
Hey. So thinking about it probably `Option<T: BufRead>` is best as it gives you the flexibility and provides `.read_line()`. My thought was that in the case where you used the `read_password()` shim everything would work as before (including whatever tests you have in place) but if you wanted to use `rpassword` in a library you could opt to use the new `read_password_with_reader()` under certain c

[2017-10-16 20:56] conradkdotcom commented on #19
Sounds good! Go ahead with that!

And just in case you're looking for something that prompts input without `no_echo`, there is [`rprompt`](https://crates.io/crates/rprompt).

[2017-10-17 19:13] DaveLancaster commented on #19
@conradkdotcom Hey man, thanks for all your help.

[2017-10-17 19:13] #19 closed

[2018-09-06 16:12] teythoon opened #23 "Please add a way to read a password from the TTY even if stdin is not connected to the TTY"
This allows us to `echo huhu | sq encrypt --symmetric` and prompt for a password.

[2018-09-07 08:38] nwalfield commented on #23
Note: not having support for this introduces a potential security issue: because `sq encrypt` reads the password (via rpassword) and the content to encrypt from stdin, the password becomes the first line of the file!

[2018-09-07 09:08] conradkdotcom commented on #23
Would you mind telling me what `sq` is ?

[2018-09-07 09:42] nwalfield commented on #23
Of course, sorry!  That is the command line interface for Sequoia, an OpenPGP implementation like gpg.  Please see: https://gitlab.com/sequoia-pgp/sequoia https://sequoia-pgp.org

[2018-09-08 22:56] conradkdotcom commented on #23
Oh, alright, well that makes sense then !

Feel free to add support through a PR, I'll be glad to review and merge as long as it doesn't contain breaking changes :+1:

[2018-09-08 23:02] conradkdotcom commented on #23
Well, I mean, actually, breaking changes are OK but should be avoided if possible. I'll just bump the major version if there is a breaking change.

[2018-09-14 15:24] teythoon opened #24 "Reading mock password inputs does not work when stdin is not a tty"
This can be demonstrated by running `:|cargo test`.

[2018-09-25 11:30] #24 closed

[2018-09-25 11:30] conradkdotcom commented on #24
Thanks @teythoon, after reading your comments, I understand better where you were coming from :+1:

[2018-10-06 15:49] #23 closed

[2018-10-06 15:50] conradkdotcom commented on #23
https://github.com/conradkdotcom/rpassword/pull/26

[2018-10-11 20:18] longshorej opened #27 "Windows and Bash"
Hi! Thanks for rpassword! Currently using it in a cross-platform CLI application.

When on Windows, using cmd or Powershell, all is well. Similarly, macOS and GNU/Linux with bash work fine.

When running on Windows via bash, e.g. Git Bash, calls to `read_password_from_stdin` fail because there's no Windows console available.

I've used the following really hacky workaround, but I'm curious if you

[2018-11-19 18:46] Towerism opened #28 "When will the latest code be pushed to crates.io?"
The crate on crates.io hasn't been udpated in over a year. Important changes like being able to call read_password_from_tty is only available from git.

[2018-11-21 23:31] longshorej commented on #27
Sorry for the slow response @conradkdotcom. To confirm, yes, this happens on `master`.

[2018-11-22 22:19] conradkdotcom commented on #28
@Towerism Hi ! Sorry about that, it boils down to me not getting replies to my comments on https://github.com/conradkdotcom/rpassword/pull/26. I was unsure if I should publish or not. Is the current `master` version usable for you ? Could you give it a try if you haven't already and confirm ? I can then publish that.

[2018-11-26 19:39] conradkdotcom commented on #28
@Towerism Sorry about that, I'll be doing that now. Will update in a few minutes once it's done.

[2018-11-26 19:49] conradkdotcom commented on #28
@Towerism Alright, so I've just published as 2.1.0, up from 2.0.0, since there was a feature addition but no breaking change.

Thanks for your time, testing and all ! Please let me know if you run into any issues down the road.

Cheers !

[2018-11-26 19:49] #28 closed

[2018-11-26 20:10] conradkdotcom commented on #28
@Towerism Just documented the release as well.

https://github.com/conradkdotcom/rpassword/releases/tag/v2.1.0

[2019-02-20 16:15] yandexx opened #31 "Unicode input is not preserved on Windows"
Hello!

When inputting cyrillic password, such as "привет", the library panics. I assume this happens for other types of non-latin input. I have only tested on Windows 10.

[code]

[code]

I also tried inputting Czech characters. Accented "ščř" get changed to simple "scr". Probably this is related.

Thanks!

[2019-02-20 18:09] conradkdotcom commented on #31
Hey @yandexx and thanks for the bug report ! Feel free to open a PR if you have a working fix and corresponding test case :wink: also, would you mind sharing what version of Rust you're using ?

@equalsraf, would you happen to have run into this bug before ?

[2019-02-20 19:20] yandexx commented on #31
That's on current stable 1.32 :) I don't have a PR but I might as well try and fix it.

[2019-03-13 19:32] promethe42 opened #32 "inconsistent behavior on Windows"
Hi,

I'm using rpassword in a cross-platform CLI app.

I have an issue on Windows: after pressing "enter" to validate the password, there is no new line added to the terminal.

![image](https://user-images.githubusercontent.com/998703/54308625-aa0bf280-45ce-11e9-9d3f-f40d60656251.png)

The behavior is different on Llinux:

![image (5)](https://user-images.githubusercontent.com/998703/54308744-f2c3

[2019-03-20 21:14] conradkdotcom commented on #27
Hello @longshorej ! Are you still interested in getting this fixed ? Otherwise, I'll have to close this issue, as unfortunately, I don't have time to invest in Windows support for this.

[2019-03-20 21:15] conradkdotcom commented on #31
@yandexx Hello ! Are you still interested in fixing this ? If not, I'll be closing this issue as unfortunately, I do not have time to invest in fixing this.

[2019-03-20 21:19] conradkdotcom commented on #32
@promethe42 Hello and thanks for your question. I do not use Windows and thus do not really know how well the crate works on Windows. Unfortunately, I do not have time to invest in testing the crate properly for Windows at the current time.

If @equalsraf or @retep998 happen to have time, they may be able to help.

If you work out the problem, I'm happy to review/test/merge a PR.

[2019-03-20 23:17] longshorej commented on #27
I'll close it - the workaround above has us moving forward. I don't think that should belong in library code though, better to keep the hacks in the applications :smile:

[2019-03-20 23:17] #27 closed

[2019-03-21 12:37] yandexx commented on #31
Hello @conradkdotcom. I was busy with life, I'll try to have a look into this.

But in any case the issue cannot be closed since it's a bug. Someone else may try to fix it too.

[2019-03-21 12:45] conradkdotcom commented on #31
@yandexx The panic "stream did not contain valid UTF-8" comes from another library, so if this is a bug, it seems like it is a bug in another library. Maybe this could have to do with the way you've configured your terminal as well. Here's what I get when I run `env | grep LC_` in my terminal:

![image](https://user-images.githubusercontent.com/1234006/54752770-86086c80-4bdf-11e9-9a4a-22952613a25b

[2019-03-21 12:48] yandexx commented on #31
I've only run this on Windows, so the above isn't applicable.

[2019-03-21 12:53] yandexx commented on #31
OK, interestingly, in rpassword 3.0.0 this no longer panics, but unicode is not preserved.
* "привет" results in "??????"
* "ěščřž" results in "escrz"

[2019-03-21 15:49] yandexx commented on #31
What I noticed is rpassword obtains *stdin* from a raw Windows file handle.

I have then tried a minimal example where I use *stdin* from std, then from a handle, and the problem is the same there. I don't know whose fault it is.

[code]

[code]

[2019-03-21 19:57] retep998 commented on #32
This crate disables `ENABLE_ECHO_INPUT` so that the password is not printed to the console, but this also prevents the enter key from being printed resulting in no newline. You'd have to manually print out a newline after inputting the password.

[2019-03-21 22:41] promethe42 commented on #32
Not on Linux. Which is kinda the whole issue here.
I expect the behavior to be the same on both platforms and not have to do this kind of dirty tricks:

https://github.com/aerys/gpm/blob/master/src/gpm/ssh.rs#L183

[2019-03-21 23:24] retep998 commented on #32
By "you" I meant `rpassword`, so `rpassword` would have to manually print out the newline on Windows.

[2019-03-22 07:50] conradkdotcom commented on #32
@promethe42 Would you be open to opening a pull request for this change ?

[2019-03-22 07:50] conradkdotcom commented on #32
@retep998 Thanks for your help ! :+1:

[2019-03-22 18:29] promethe42 commented on #32
@conradkdotcom any hint as of where is the code I should fix? Any help appreciated.

[2019-03-22 19:43] conradkdotcom commented on #32
@promethe42 Sure ! You could probably print a newline on line 225 of `lib.rs`:
https://github.com/conradkdotcom/rpassword/blob/master/src/lib.rs#L225

[2019-03-22 19:44] conradkdotcom commented on #32
@promethe42 Give it a try and let me know if it works out :slightly_smiling_face:

[2019-03-28 10:17] joshuef commented on #32
Just came across this as we were having a similar issue (using two `rpassword` inputs one after another).

https://github.com/conradkdotcom/rpassword/pull/33

Implements the fix you suggested @conradkdotcom, and we tested it on windows/osx and it's looking good 👍

[2019-03-29 07:14] conradkdotcom commented on #32
Awesome, thanks @joshuef !

[2019-03-29 07:14] #32 closed

[2019-04-14 09:46] conradkdotcom commented on #31
Thanks for looking into this @yandexx ! I think Windows uses UTF-16 by default, although I'm nore 100% sure: I haven't done any Windows development. Could you try convering the `&mut input` from UTF-16 to UTF-8 ?

The `encoding_rs` crate might be able to help you with its `convert_utf16_to_utf8` function:
https://docs.rs/encoding_rs/0.8.17/encoding_rs/mem/fn.convert_utf16_to_utf8.html

There is al

[2019-04-15 17:29] yandexx commented on #31
Yes it's as if the encoding is lost somewhere on the way. We could maybe workaround that by acquiring the `io::stdin()` right after changing the console parameters. I'll give it a test.

[2019-04-17 09:24] yandexx commented on #31
So with this fix below (against the current master) the input works as I would expect it, with `prompt_password_stdout`, `prompt_password_stderr` and `read_password_from_tty`.

All Unicode input is preserved. I've tested on Windows 10 x64 1809 (“modern console”) and 2012 R2 (legacy console).

Does this look good? Should I open a PR, or do we need any additional testing?

[code]

[2019-04-17 17:44] conradkdotcom commented on #31
@yandexx Looks good to me, you can open a PR, yes, that'd be great ! I'll go ahead and merge straightaway, it looks like you tested it well, I trust that it works :+1:

[2019-04-17 18:40] #31 closed

[2019-05-17 18:08] u05rav opened #36 "read_password reading over newline"
I have an issue where I want to have a bash script that reads multiple lines from stdin and one of those lines should be consumed as a password in my rust code but the subsequent lines are read by the script.  The problem is that read_password is swallowing all the lines.  Here is an example

    extern crate isatty;
    extern crate rpassword;

    fn main() {
        let user_input = rpassword::

[2019-05-18 13:46] conradkdotcom commented on #36
@u05rav Hey ! Thanks for reporting this. Would you be open to working on a fix for this ?

[2019-07-09 18:44] conradkdotcom commented on #36
@u05rav Given that this issue has been inactive for a while, I'm going to close it. If someone is able to work on a fix for this, feel free to comment and we'll open it up again.

[2019-07-09 18:44] #36 closed

[2019-09-25 07:20] AchalaSB opened #38 "No WASM support."
Hey,
Seems like the library is not compatible with wasm
[code]

Is this error because of compatibility? or the error coming from my end?
How can I fix this?
Thanks

[2019-12-23 10:07] lucidBrot opened #39 "No cygwin support"
"Invalid Handle" when running `cargo run --example myexample` in cygwin, but it works when run from windows cmd.

[code]

[2019-12-27 13:10] conradkleinespel commented on #38
@AchalaSB  Hello ! I haven't used WASM myself so I wouldn't know. What have you tried ? Have you found a solution since you posted ? I'd love to know how you fixed it so we can fix it for everyone :+1:

[2019-12-27 14:39] conradkleinespel commented on #39
Hey @lucidBrot ! Thanks for reporting this. I don't use Windows, so unfortunately, I wouldn't be able to help at the moment. If you are able to create a fix for it, please make a PR so everyone can benefit :+1:  Cheers !

[2020-01-17 23:43] tov opened #41 "Doesn't zero password memory when terminal reset fails"
In particular, see the error path [here](https://github.com/conradkleinespel/rpassword/blob/master/src/lib.rs#L120), which bails out before zeroing. I’m about to submit a PR that fixes this in a principled and robust (I think!) way.

[2020-01-18 00:07] #38 closed

[2020-01-18 00:07] conradkleinespel commented on #38
@AchalaSB Without further feedback, I'll go ahead and close this issue. If someone else reads this and needs WASM support, feel free to open a PR. Cheers !

[2020-01-18 00:08] conradkleinespel commented on #39
@lucidBrot  Without further feedback, I'll go ahead and close this issue. If someone else reads this and needs CYGWIN support, feel free to open a PR. Cheers !

[2020-01-18 00:08] #39 closed

[2020-01-20 19:05] conradkleinespel commented on #41
Hi @tov ! Thanks for reporting this. I've just reviewed #42, once you've had a look at my question I think we can merge this. Cheers!

[2020-01-20 23:58] #41 closed

[2020-01-21 06:56] tov opened #43 "Masked echo functionality"
I’d like a way to provide per-keystroke feedback, such as printing `"•"` or `"***"` for each character that the user enters. (I have some users who are just getting accustomed to terminals, and this is one of their first interactions. Oh, and I’m having them paste a big long key, not just type a password that they know.)

Even better, something like this:

[code]

would let me write my thing (quic

[2020-01-21 20:45] mverleg opened #44 "Store password in secure type like secstr::SecUtf8"
Would it be a good idea to return the password wrapped in data type meant for that purpose? Possibly as an optional feature.

Advantages include being unprintable, zero-ing when dropped, and other things mentioned [at secstr](https://github.com/myfreeweb/secstr).

(It could be any type, I'm not affiliated with secstr, it's just the only one I know.)

[2020-01-21 21:51] conradkleinespel commented on #43
Hi @tov ! I really like the idea. Actually, sometimes, I mistype my password specifically because I don't know how many chars I've written. So yeah, I'm totally open to merging something like that :+1:

I'm not sure what you mean by `Ok(true) means continue`. What continues ?

[2020-01-21 21:55] tov commented on #43
The idea is that the closure returns `Ok(true)` to tell the function to keep reading, `Ok(false)` to tell the function to stop reading and return `Ok(())`, and `Err(e)` to tell the function to return `Err(e)`.

[2020-01-21 22:07] conradkleinespel commented on #44
@mverleg Thanks for the suggestion! Here's what I think of `secstr` strong points:

- constant time comparison: not needed, there is no comparison in `rpassword`
- automatically zeroing out in the destructor: @tov just added that, so that's fixed :tada:
- mlock protection if possible: it's sadly not cross platform but would be great to have on unix
- stripping the password from logs to prevent lea

[2020-01-21 22:12] conradkleinespel commented on #43
@tov Oh OK, that's interesting ! I'm totally open to this if it's something that useful to you. I guess it would allow to read password that contain newlines in them (passphrases and what not), which is currently not possible. How would you write a hook that detects `\r\n` (2 chars) which is I think what Windows uses? Maybe send the hook a slice of what has been read up to a given point?

[2020-01-22 07:24] mverleg commented on #44
Yeah I think those are more most useful features.

I guess there's always a balance between having dependencies that could be dangerous, and duplicating code that could get outdated - I'll trust your judgement.

One thing to note though, maybe less related to security: if each crate creates their own type, there needs to be a conversion each time, e.g. getting a password using rpassword and the ha

[2020-01-22 07:29] mverleg commented on #44
Oh I perhaps should have been more clear - my hope was that the library would return the wrapper type so the password wouldn't have to go back to a string. I see ZeroOnDrop is used internally only.

[2020-01-22 18:16] conradkleinespel commented on #44
@mverleg Returning ZeroOnDrop would break all existing code, it's a breaking change. And if the user uses something other than ZeroOnDrop for whatever reason, than it's of little use. But with the `From` trait, it seems to me like going from `String` to whatever type you want can be trivial throughout a codebase. Here's an example:
[code]

[2020-01-30 03:15] Fishrock123 opened #45 "println!() does not work after rpassword::read_password_from_tty()"
I'm not really sure why this is, but my guess is that the character hiding thing isn't going away?

Also, related, calling this appears to clear any existing text outputted to a tty via `println!()`...

[2020-01-31 17:38] conradkleinespel commented on #45
@Fishrock123 What platform (Windows, Linux, OSX, etc) are you testing on ? On UNIX, it should work properly given that [we reset the terminal](https://github.com/conradkleinespel/rpassword/blob/master/src/lib.rs#L122).

Either way, please provide a code example that reproduces the bug you are referring to, that will help with debugging.

[2020-01-31 19:02] Fishrock123 commented on #45
Ok I think this was my fault somehow, sorry for the false report.

[2020-01-31 19:02] #45 closed

[2020-01-31 19:15] conradkleinespel commented on #45
@Fishrock123 No worries, thanks for closing. Feel free to open the issue back up again if you experience any more issues.

[2020-02-11 11:16] dvermd opened #46 "Read several passwords from reader"
For testing purpose, I'm migrating calls from `prompt_password_stdout` to `read_password_with_reader`. I'm facing a problem with the signature
[code]
which "consumes" the `BufRead` and doesn't make it possible to be called several times with the same reader.

Would you consider changing the signature to
[code]
instead ?

[2020-02-11 13:32] conradkleinespel commented on #46
@dvermd Thanks for your suggestion! We could totally do this, although it would require a bit of trickery to not break code without proper upgrade path. So before we get into that, I have a question.

In your tests, what is the reason for re-using the same reader instead of creating a brand new one for each test? Is it because you call `read_password_with_reader` several times from the same functi

[2020-02-12 09:27] dvermd commented on #46
The function I'd like to test is something like
[code]

And I was trying to change it to something like
[code]
which does not compile.

I'm working on a testing solution that will work without changing rpassword code.
[code]
I don't yet wrote the struct for testing purpose, it'll be a struct implementing the Bufferize trait

We may hold this issue for some time until I come up with a working solut

[2020-02-12 20:20] conradkleinespel commented on #46
@dvermd Thanks for explaining in such detail :+1:

I'm all for integrating the changes you suggested in the first place. That'll make testing way easier. So if you make a PR for that, I'll be happy to merge. Here's how we'd go about integrating those changes *all the while* minimizing upgrade effort for existing users:

1. Add a new function `read_password_with_reader_mut<T>(source: Option<&mut T>

[2020-02-12 20:40] conradkleinespel commented on #46
@dvermd Another option would be to simply add a new function to fit your needs, I'm not sure if that makes a lot of sense though. From your explanation, I'm not sure how the current signature allows for much testing, even though we added this function specifically to enable easier testing, from what I remember.

[2020-02-12 21:44] dvermd commented on #46
@conradkleinespel The upgrate path you describe seems fine to me. Users would have to update their code twice but they'll have time to manage this update.

Another way to add this change is to add a feature. This way existing users would continue to use the current API and new ones or those willing to add mock to their code can enable the feature.
English not being my main language, I can't come u

[2020-02-13 21:40] dvermd commented on #46
Here is a draft PR with the feature option to discuss about the principle. It may get completely reworked if it's not the option you choose.

[2020-02-19 14:50] dvermd commented on #46
@conradkleinespel I'm facing a problem with `read_password_with_reader` that when the reader is `stdin` the password is displayed on the console because of keyboard echoing.

There's another way to add tests without changing rpassword API by adding an indirection in the caller's code.
There are some examples in [this branch](https://github.com/dvermd/rpassword/tree/mock_many_times_example).

With

[2020-03-20 15:31] DDoSolitary commented on #44
Windows has a similar function called VirtualProtect which is already available in the winapi crate

[2020-04-06 18:00] bochaco opened #49 "Git Bash errors with `prompt_password_stdout` or `read_password` on Windows"
I'm getting OS error 6 ("The handle is invalid") on Windows using Git Bash when calling `prompt_password_stdout` or `read_password`.
I also tried using `read_password_from_tty` which not only throws that same error after hitting enter, but also the message is not shown and the characters I type are displayed on the console.

I am currently using `read_password_from_tty` and it works for Linux, Mac

[2020-04-06 18:10] conradkleinespel commented on #49
@bochaco Hi ! I am not aware of this bug. Unfortunately I don't use Windows so I wouldn't be able to help. Windows, with it's many shells (Powershell, CMD, etc), needs a bit more testing, as far as I'm aware.

[2020-04-15 12:17] mahkoh commented on #49
In current versions of msys2 and git-bash, applications that use the conpty api must be run with winpty. E.g `winpty program args` instead of `program args`.

cygwin supports this api since version 3.1 but msys2 and git-bash currently use older versions.

[2020-06-16 11:18] Heliozoa opened #50 "`read_password` fails on Windows when stdin is piped"
Hi!
I ran into the following issue on Windows 10. Could be related to #49 but I'm not sure. With the `main.rs` below
[code]
running `echo "asd" | cargo run` results in ```thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Os { code: 6, kind: Other, message: "The handle is invalid." }'```.

The cause is the `GetConsoleMode` call at https://github.com/conradkleinespel/rpassword/

[2020-06-17 17:36] conradkleinespel commented on #50
Hey @Heliozoa ! Thanks for reporting this and proposing a PR ! :pray: :+1:

@equalsraf Since you wrote the `GetConsoleMode` part, would you by any chance be able to review @Heliozoa 's proposal ? Ideally, you'd both agree on a fix, make a PR and I'd then merge.

[2020-06-17 20:21] equalsraf commented on #50
Sure.

I agree with his proposal. Checking the handle type for FILE_TYPE_PIPE has the least potential for disruption even if later we change our minds on this. Any other option requires some research on how FILE_TYPE_CHAR or other types behave. But since this function targets stdin specifically i dont think that is required.

[2020-06-18 21:41] #50 closed

[2020-06-18 22:10] conradkleinespel commented on #49
Would you mind checking if this bug is still present after the recent fix in #51 ?

Try [this](https://github.com/conradkleinespel/rpassword/commit/189c3888341f082738a3efbd7287aaf4ce64d792) version of `rpassword` in `Cargo.toml`:
[code]

[2020-06-20 14:22] AnharMiah opened #53 "fails to build for wasm32-wasi"
hi, firstly thanks for creating this crate its highly appreciated!

Just some background, as part of a weekend hack I was playing around with the `wasm32-wasi` target, and I had a demo project that uses rpassword, however when using `wasm32-wasi` rpassword fails to build

would this take much to get to build under that target?

I get a multiple errors saying that certain function names don't exist

[2020-06-20 14:35] conradkleinespel commented on #53
Hey @AnharMiah ! Thanks for reporting this.

I'm not familiar with `wasm32-wasi`. Does it has specific APIs for reading data from `stdin` or from a TTY? Maybe you'd need to use those APIs to implement `read_password_from_stdin` specifically for `wasi` :thinking:

In any case, if you do find a fix, I'm happy to review and merge it. The goal is for `rpassword` to be as compatible as possible. If you

[2020-06-20 16:03] AnharMiah commented on #53
hi @conradkleinespel

thanks for fast response!

according to the WASI official repo (https://github.com/bytecodealliance/wasi):

![image](https://user-images.githubusercontent.com/11503147/85206123-b1fd2b00-b317-11ea-91ed-52568b391b27.png)

So from that since WASI supports Rust's standard library, STDIN should be totally fine to use.

I create a dummy hello world that took args from STDIN and it

[2020-06-20 16:19] conradkleinespel commented on #53
@AnharMiah OK, sounds good!

From the looks of it, [libc](https://github.com/rust-lang/libc) supports `wasi`, so that's a good start because `libc` is used in `rpassword`'s code for the `unix` target. Have you tried replacing `#[cfg(unix)]` with `#[cfg(unix,wasm32-wasi)]` in `src/lib.rs` ? Does that work ?

[2020-06-20 16:26] conradkleinespel commented on #53
@AnharMiah Sorry, that might actually not be what you need. Maybe you need `#cfg(any(unix, target_arch=wasm32))`. I'm not sure, but playing with these things might get you what you want.

More information about that is here:
https://doc.rust-lang.org/reference/conditional-compilation.html

[2020-06-20 16:33] AnharMiah commented on #53
@conradkleinespel thanks for the suggestion!

well I tried replacing `#[cfg(unix)]` with `#[cfg(any(unix, target_arch="wasm32"))]` and now is given far more build errors!:

[code]

[2020-06-20 16:38] AnharMiah commented on #53
sorry when I use `#[cfg(any(unix, target_arch="wasm32"))]` I get only 3 errors, about not finding those specific function names:

[code]

[2020-06-20 16:43] conradkleinespel commented on #53
OK, from what you're saying `#[cfg(any(unix, target_arch="wasm32"))]` seems to be the way to go about debugging this. Most errors have a reason, I'll get to that in a minute.

`#[cfg(any(unix, target_arch="wasm32-wasi")))` doesn't work because `wasm32-wasi` is not an "arch", so "target_arch" doesn't work with "wasm32-wasi" it only work with "wasm32" (which is an arch).

Can you tell me something :

[2020-06-20 16:49] AnharMiah commented on #53
oh ok yes that makes sense,

so WASI basically allows WASM to run on the server or basically anything that implements a WASM runtime with "sys calls", there are many projects that use WASI to basically run on many platform see:

https://wasmer.io/

https://github.com/bytecodealliance/wasmtime

https://github.com/wasm3/wasm3

What this means is that if you can compile your Rust to wasm, then you ca

[2020-06-20 16:51] conradkleinespel commented on #53
So, back to the first output, the one with `#[cfg(any(unix, target_arch="wasm32"))]`.

The first error is about `use std::os::unix::io::AsRawFd`. Probably because there is no `RawFd` for WASI: have a look here => https://github.com/rust-lang/libc/blob/master/src/wasi.rs

If `wasm32-wasi` is meant to work in a web browser, try to remove all code from `src/lib.rs` that has to do with `tty`. The `rea

[2020-06-20 16:54] AnharMiah commented on #53
ok thanks, I'll have a play, WASI is not intended for the browser its the opposite _(i.e running WASM on the server)_

[2020-06-20 17:18] conradkleinespel commented on #53
@AnharMiah Oh OK ! I'll go ahead and close this issue for now then. Feel free to re-open later or make a PR if you have a fix for this. Really sorry that you're unable to use `rpassword` for now but I hope you find a way to create what you want. Feel free to copy code from `rpassword`.

Until then, feel free to copy any piece of code form `rpassword` as long as you comply with the Apache license:

[2020-06-20 17:18] #53 closed

[2020-06-23 01:57] bochaco commented on #49
`prompt_password_stdout` and `read_password` don't throw the error but the characters I type are displayed on the console.

With `read_password_from_tty` the characters typed are also displayed and it throws "The handle is invalid" error after hitting enter.

[2020-06-27 02:16] conradkleinespel commented on #49
@Heliozoa This seems like surprising behavior, that @bochaco sees when using the fix from #51. Any idea?

[2020-06-27 12:13] Heliozoa commented on #49
Looks like this is an issue with how Git Bash works. I found this issue https://github.com/SBoudrias/Inquirer.js/issues/421, and the linked issues led me to this [github-for-windows FAQ answer](https://github.com/git-for-windows/git/wiki/FAQ#some-native-console-programs-dont-work-when-run-from-git-bash-how-to-fix-it ) which suggests running the program through `winpty`, which fixed the problems bo

[2020-06-27 15:07] conradkleinespel commented on #49
Alright, thanks for your help @Heliozoa !

In that case, I'm going to close this issue, @bochaco, as it looks like this problem is unrelated to `rpassword` but rather related to `Git Bash`. Maybe this should be reported to Git Bash project maintainers directly.

[2020-06-27 15:07] #49 closed

[2020-08-08 15:37] conradkleinespel commented on #46
The changes have been merged :heavy_check_mark:

[2020-08-08 15:37] #46 closed

[2020-08-08 15:51] conradkleinespel commented on #43
Given this issue is now 6 months old without change, I'll go ahead and close it. Feel free to reopen it you want to keep working on this.

[2020-08-08 15:51] #43 closed

[2020-12-07 18:44] edneville opened #55 "stdout is dropped in sbuild"
Hello,

Package build in debian needs to patch away the following assertion:

[code]

Arguably, this is perhaps more related to sbuild, but forwarding for awareness.

[2020-12-08 00:56] dkg commented on #55
To be clear, i think this report is about https://bugs.debian.org/975479, where the reported error during the test is:

[code]

It's not clear to me why this particular patch is the right solution.

@edneville  can you explain what you think is at issue here?  I don't mind commenting out failing tests where there's a good, well-understood reason to do so.  But i don't understand the reason here ye

[2020-12-08 07:44] edneville commented on #55
As above, `stdout` is lost (`stdout:`). I don't currently know a work around for this, I don't think it is a fault in rpassword, but I'm forwarding the commentary mostly for awareness.

[2020-12-08 20:31] dkg commented on #55
What causes the stdout to be lost?  Are you saying that you think this is a flaw in sbuild?  Or the debian build environment? Or somewhere else?

I see this same failure by unpacking the source for rust-rpassword 5.0.0-1 on debian, and then from the new directory, running the standard debian test with all features:

[code]

This is *not* using `sbuild`.  (the above commandline is derived from the

[2020-12-11 18:47] teythoon commented on #55
I found something odd:

[code]

The test calls an example with pipes to the child.  Let's see what it executes:

[code]

Ok, let's call it and see what happens:

[code]

That's odd, looking at the example it should prompt for a password:

[code]

And now it does!

Really weird, maybe a cargo bug, screwing up file descriptors somewhere?

[2020-12-11 19:21] teythoon commented on #55
To make it explicit, the test runs `target/debug/examples/read-password` but cargo miscompiles that for some reason, replacing it with what appears to be a test executable with zero tests.

[2020-12-11 21:14] dkg commented on #55
Here is [a diff](https://github.com/conradkleinespel/rpassword/files/5681600/strace.diff.txt) between running `target/debug/deps/piped-18bd2072bbd83245` as part of `cargo test` vs `cargo test --all-targets`.

i note that the `--all-targets` test run dynamically loads `libm`, though the other test run does not.  i really don't understand this.

[2020-12-11 22:06] dkg commented on #55
looks to me like when i run `cargo test` cargo produces: `./target/debug/examples/read_password-420acc0b3e81a06f`

but when i run `cargo test --all-targets`, cargo produces: `./target/debug/examples/read_password-43972f448c6487b3` instead.

(i'm running `cargo clean` in between these tests)

[2020-12-14 13:58] teythoon commented on #55
We think that cargo compiles the example in `cfg(test)`.  This is either a bug in cargo, or a feature, in which case this crate shouldn't expect the example to work.

I guess it is a feature in cargo.  Your example can have tests, and you would expect `cargo test` to run them.

I made an experiment.  I tucked `#[test] fn test_in_example() {}` into examples/read-password.rs and indeed:

[code]

So

[2021-01-19 20:39] conradkleinespel commented on #44
This issue seems stale. If at any point anyone wants to create a pull request for that, feel free to do so.

[2021-01-19 20:39] #44 closed

[2021-01-19 21:04] conradkleinespel commented on #55
Hey ! Thanks for looking into this and sorry the late answer. Actually, after reading the code again, it seems that these tests related to pipes were already in `tests/tests-unix.sh`. So I could just remove `tests/piped.rs` if that's OK for you guys. Just means that there'd be less testing done on `cargo test`, but the CI here on Github would run the proper tests before merges.

[2021-01-19 21:09] conradkleinespel commented on #55
Or maybe I could let the test from `piped.rs` run only on Windows and `tests/tests-unix.sh` would run tests for unix. If I just remove `piped.rs`, we'd lose Windows testing.

[2021-01-19 22:14] #55 closed

[2021-01-19 22:16] conradkleinespel commented on #55
Thanks @dkg @teythoon and @edneville for looking into this, your comments helped me understand where to look. I just pushed a fix as 5.0.1 to crates.io. Hopefully this will make the test pass on Debian.

[2021-02-07 09:16] nmlt opened #59 "Ctrl+C in zsh shell leads to a staying extra empty line in prompt on macOS"
I created a new user, installed minimal rust and wrote this little program:
[code]
Between the first command and the next there is no empty line. Afther the "Hello, world!" print, I pressed Ctrl+C. When I then pressed enter there is an empty line between the two prompt lines.

I tested zsh 5.7 and 5.8 (via brew) on macOS Catalina, both Terminal.app and iTerm2.app.

On the other hand it's not reall

[2021-02-07 11:47] conradkleinespel commented on #59
Hello @nmlt, thanks for reporting ! :+1:  I do not currently have time to look into this because it seems non-critical, so I'm going to close the issue. Feel free to open a PR with a fix _and_ a test case if this bothers you.

[2021-02-07 12:05] conradkleinespel commented on #59
@nmlt Actually, I might think this is problematic. Currently `rpassword` does not handle signals. But I'm working on some updates in this repo: https://github.com/conradkleinespel/duck. It makes use of the `Drop` trait to restore the terminal, which should be more reliable.

I'm not 100% sure that this repo is usable from the outside yet, but you could try using `rpassword` like this:

[code]

I'l

[2021-02-07 13:31] nmlt commented on #59
Using rpassword from your mono repo worked fine for me, but the problem persisted.

You're absolutely right that it is not really a very pressing problem and I have no idea what could cause this. I just found it a curious problem.

Something I forgot to mention: it doesn't happen on bash on macOS (v3.2.57(1)) and also not on linux zsh version 5.0.2

[2021-02-07 19:23] conradkleinespel commented on #59
Good to know that the monorepo works, thanks a lot for testing! :+1:

Back to this bug, I'm really not sure what could be causing it and unfortunately I don't have access to a Mac. If you want to make a PR with a test case I'll be happy to review it, for now I'm going to close this issue.

[2021-02-07 19:23] #59 closed

[2021-11-16 13:06] hardcore-sushi opened #65 "Can't build for Android armv7"
Hi,
When building with `cargo build --target armv7-linux-androideabi`, I get the following error:
[code]
However it works fine when compiling for `aarch64-linux-android`.
[code]
Thanks!

[2021-12-10 19:37] conradkleinespel commented on #65
Looks like no one has had time to work on this issue, I'll go ahead and close it. If you want to work on a fix, let me know and I can re-open it.

[2021-12-10 19:37] #65 closed

[2022-02-10 20:03] syrusakbary opened #66 "New release?"
Hi,

We are relying on WASI support (which was included in #63) and it would be great if rpassword with WASI support could be published to crates.io.
Thanks!

[2022-03-09 17:54] dkg commented on #55
I finally uploaded 5.0.1 to debian.  sorry for the long delay!

[2022-03-10 11:16] conradkleinespel commented on #55
That's great, thanks a lot @dkg 😃

[2022-03-13 17:47] conradkleinespel commented on #66
I've just published to crates.io with `v6.0.0`. See here for an overview of the changes:
https://github.com/conradkleinespel/rpassword/releases/tag/v6.0.0

[2022-03-13 17:47] #66 closed

[2022-05-29 22:49] BlackHoleFox opened #68 "Make serde dependency optional?"
Heyo,

I was looking at an update to this crate and saw it started bringing in `serde`, `serde_json`, and all their deps. At a glance it doesn't seem used, but just part of a vendored crate.

Would you consider either deleting the `safe_string_serde` module from this crate or a PR that makes it an optional thing so downstream users can use `--no-default-features` to dodge the extra deps?

[2022-05-30 17:42] conradkleinespel commented on #68
@BlackHoleFox I'm happy to review a PR to do that, it seems like a good thing to do.

I maintain `rpassword` within this [monorepo](https://github.com/conradkleinespel/duck), which is how the dependency got pulled in by accident. If you can make the PR there, that makes it easier for me.

If you prefer to make a PR here on `rpassword` which may be easier for you as the monorepo is poorly documente

[2022-06-03 07:19] BlackHoleFox commented on #68
Delayed here but I can attempt to put something up on your monorepo this weekend and see how it goes :)

[2022-06-05 01:53] BlackHoleFox commented on #68
First stab, which is probably busted to start: https://github.com/conradkleinespel/duck/pull/32/. Had a hard time figuring out any _good_ options since the monorepo doesn't use cargo features.

[2022-06-09 17:17] sehraf commented on #68
I second this!
A crate which sole task is to read password, should not depend on a serialization framework.

[2022-07-11 22:50] tobiasvl opened #70 "Support ^U"
If I make a typo in my password and press <kbd>Ctrl</kbd>+<kbd>U</kbd>, it would be nice if it erased my entire password (like in a regular readline session).

It seems like <kbd>Ctrl</kbd>+<kbd>H</kbd> (backspace) is supported already, but when typing my password "blindly" I often don't realize where the typo is, so it's simpler to start over.

[2022-07-12 08:18] conradkleinespel commented on #70
Good catch! :+1: If anyone if willing to make a PR for that I'll review it.

[2022-07-12 20:58] conradkleinespel commented on #68
It turns out `serde` is used by my other project `rooster` which uses `rpassword` so instead of removing serde entirely, I will make the dependency optional with a feature.

[2022-07-12 22:25] #68 closed

[2022-07-13 06:34] conradkleinespel commented on #68
I've published v7.0.0 with this change 👍

[2022-08-30 14:06] konstin opened #73 "Setting rust-version in Cargo.toml"
Would it be possible to set the [rust-version](https://doc.rust-lang.org/cargo/reference/manifest.html#the-rust-version-field) field in Cargo.toml? We would like to support rust 1.59 and therefore currently have to [pin rpassword ^6](https://github.com/PyO3/maturin/pull/1071/files#diff-2e9d962a08321605940b5a657135052fbcef87b5e360662bb527c96d9a615542R14-R74), with the rust-version we go switch to r

[2022-08-31 02:57] messense commented on #73
The 7.0.0 release notes says `You will need at least Rust 1.59 to use this new release.`, but it's not true, The new `dep:xxx` syntax for Cargo features are [stabilized in Rust 1.60.0](https://blog.rust-lang.org/2022/04/07/Rust-1.60.0.html#new-syntax-for-cargo-features).

[2022-08-31 15:55] conradkleinespel commented on #73
@messense Oh alright, I'll go ahead and change the description of the release then. Thanks for the hint!

[2022-08-31 15:57] conradkleinespel commented on #73
@konstin I didn't know there was a field for that. That's good to know! It would make sense to use it, yes :+1:

[2022-08-31 16:00] conradkleinespel commented on #73
@konstin I don't have much time to work on `rpassword` at the moment but when I get a chance, I'll add a `rust-version` field. Either way, when it's done I'll make sure to update this issue so you're aware of the change.

[2022-10-06 20:58] ibotty opened #75 "Ask for retyping the password to catch typos"
It would be great to have a simple function that prompts for the password, then prompts for the password again and if they match, return.

[2022-10-07 17:56] conradkleinespel commented on #75
Hello @ibotty , thanks for the suggestion. But this is outside the scope of what I want to support. The crate is meant to abstract the complexity of cross platform password reading / prompting and that's it.

[2022-10-07 17:56] #75 closed

[2022-10-09 13:10] ibotty commented on #75
Well, I'd said that that's exactly a slightly different way of prompting for a password.  In a way `prompt` to `read` is as easy.  I don't want to argue though.  This being outside scope is OK.

[2022-10-09 15:04] conradkleinespel commented on #75
Emphasis on the cross platform part. Also because I don't think it's easy to anticipate every way people want to prompt. So I'd rather let people implement that on their end.

[2022-10-20 16:09] #70 closed

[2022-10-20 16:09] conradkleinespel commented on #73
Fixed with help from @LSchallot and published in v7.1.0 on crates.io

[2022-10-20 16:09] #73 closed